/*-------------------------------------*/
/*---------- GENERAL STYLING ----------*/
/*-------------------------------------*/

body {
    /* background: rgb(131,58,180);
    background: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 85%); 
    width: 100vw;
    margin: 0px;
    height: 100vh;
}
#container {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100vw;
}

/*-------------------------------------*/
/*---------- CONTENT STYLING ----------*/
/*-------------------------------------*/

p {
    font-family: 'Akaya Telivigala', cursive;
    text-align: center;
    font-size: 3.25em;
    color: rgb(63,94,251);
    -webkit-text-stroke: 2px black;
}

#pic {
    width: 70vw;
    height: 40vh;
    border-radius: 25px;
    border: black solid 2px;
}

#timer {
    text-align: center;
    align-content: center;
    font-size: 2em;
    margin-bottom: 2em;
    color:rgb(63,94,251);
    background-color:#fc466b;
    opacity: .8;
    border-radius: 40px;
    width: 70%;
    border: black solid 2px;
}
