@font-face {
    font-family: 'Damion';
    src: url('Damion.eot');
    src: url('Damion.eot?#iefix') format('embedded-opentype'),
        url('Damion.woff2') format('woff2'),
        url('Damion.woff') format('woff'),
        url('Damion.ttf') format('truetype'),
        url('Damion.svg#Damion') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comic Neue';
    src: url('ComicNeue-Regular.eot');
    src: url('ComicNeue-Regular.eot?#iefix') format('embedded-opentype'),
        url('ComicNeue-Regular.woff2') format('woff2'),
        url('ComicNeue-Regular.woff') format('woff'),
        url('ComicNeue-Regular.ttf') format('truetype'),
        url('ComicNeue-Regular.svg#ComicNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glegoo';
    src: url('Glegoo-Regular.eot');
    src: url('Glegoo-Regular.eot?#iefix') format('embedded-opentype'),
        url('Glegoo-Regular.woff2') format('woff2'),
        url('Glegoo-Regular.woff') format('woff'),
        url('Glegoo-Regular.ttf') format('truetype'),
        url('Glegoo-Regular.svg#Glegoo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

